<?xml version="1.0" encoding="UTF-8" standalone="yes"?><settings><allowSelfRegistration>true</allowSelfRegistration><databaseLocation>database</databaseLocation><emailSenderAddress>no-reply@bimserver.org</emailSenderAddress><enabledExportTypes>IFC,IFCXML,TEXT,OBJECT_INFO,CITYGML,COLLADA,O3D_JSON,KMZ</enabledExportTypes><registrationAddition></registrationAddition><sendConfirmationEmailAfterRegistration>true</sendConfirmationEmailAfterRegistration><showVersionUpgradeAvailable>true</showVersionUpgradeAvailable><smtpServer>relay.glaslokaal.nl</smtpServer><useCaching>false</useCaching><useSecondEngineJvm>true</useSecondEngineJvm></settings>